/* line 3, site.css.scss */
h2 {
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black; }

/* line 10, site.css.scss */
#header #logo {
  font-size: 32px;
  padding: 10px; }
/* line 15, site.css.scss */
#header #sns {
  position: absolute;
  right: 7px;
  top: 21px; }
  /* line 19, site.css.scss */
  #header #sns a {
    color: white;
    text-shadow: rgba(255, 255, 255, 0.16) 0 1px 0px;
    background-color: #bf4737;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0px, inset rgba(0, 0, 0, 0.17) 0 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0px, inset rgba(0, 0, 0, 0.17) 0 1px 1px;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0px, inset rgba(0, 0, 0, 0.17) 0 1px 1px;
    font-family: "MavenProBold";
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px; }
  /* line 31, site.css.scss */
  #header #sns a:hover {
    color: #6f1b0b; }

/* line 38, site.css.scss */
#sidebar #articles, #sidebar #tags, #sidebar #years {
  margin-bottom: 20px; }
  /* line 40, site.css.scss */
  #sidebar #articles li, #sidebar #tags li, #sidebar #years li {
    margin: 5px; }

/* line 46, site.css.scss */
#footer {
  text-align: center; }
  /* line 48, site.css.scss */
  #footer .info {
    margin: 0 auto; }
